APP_NAME=AutoBI
APP_ENV=local
APP_KEY=base64:6Wf3dY1v8s4p2n0m9k7j5h3g1f0d8c6b4a2z1x0w=
APP_DEBUG=true
APP_URL=http://localhost:8080


DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=autobi
DB_USERNAME=autobi
DB_PASSWORD=autobi

CACHE_STORE=redis
QUEUE_CONNECTION=redis
REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PORT=6379

LOG_CHANNEL=stderr
LOG_LEVEL=debug